@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Raleway&display=swap");

:root {
  --c1: #606c38;
  --c2: #283618;
  --c3: #fefae0;
  --c4: #a1681e;
  --c5: #bc6c25;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

ul li {
  list-style: none;
}

.header {
  background-color: white;
  position: sticky;
  top: 0px;
}

.container {
  background-color: white;
  min-height: 80vh;
  max-width: 90vw;
  margin: 10px auto;
}

/* --- Nav --- */

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-btn {
  padding: 0.3rem;
  margin: 0;
  border-style: none;
  background-color: white;
}

.nav-btn:hover {
  background-color: var(--c1);
}

/* --- Section Common --- */

.section-container {
  margin: 0px auto;
  color: var(--c3);
  background-color: var(--c4);
  height: 100%;
  max-width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
  padding: 1rem;
  box-shadow: 15px 15px 0px black;
}

.section-container > img {
  align-self: center;
  height: 400px;
  width: 90%;
  object-fit: cover;
  gap: 2rem;
}

/* --- Menu --- */

.section-sub {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 10px;
}

.menu-item {
  font-weight: initial;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
}

/* --- Home --- */

.main-logo {
  max-width: 100px;
}

.section-header {
  font-size: 1rem;
}

.section-title {
  color: var(--c3);
  font-size: 4rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-time {
  color: var(--c3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section-operation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: space-around;
}
